<div class="container">
    <!--Section: Content-->
    <section class="text-center">  
      <h1>Bookshelf Store</h1>

      <h3> Available books in store</h3>
      <table class="table table-striped">
        <thead >
             <th>Title</th>
             <th>Summary</th>
        </thead>
        <tbody>
           <tr *ngFor="let post  of postList">
              <td>{{post.title}}</td>
             <td>{{post.summary}}</td>
             </tr>
        </tbody>
   </table>

    </section>
  </div>