<div class = "container" >

  
    <h1 style="margin: 40px;  text-align: center;"> 
      Articles
    </h1>
    
  
<div *ngFor = "let page of postList;let i = index">
  <div  *ngFor = "let articlepost of page;let j = index">
    <h3>
      {{articlepost.title}}
    </h3>
    
    <p>
    {{articlepost.article}}
  </p>
  <br><br>
  </div>
</div>

</div>